<div class="ml-2">
    Channel's Title
</div>
<div class="row mx-1">
    <button class="btn px-0" >
        <img class="channel-icon" src="{{ url_for('static',filename='google-icon/toggle/2x_web/ic_star_border_black_18dp.png') }}">
    </button>
    <button class="btn mx-0 px-1" >|</button>
    <button class="btn px-0">
    <img class="channel-icon" src="{{ url_for('static',filename='google-icon/social/2x_web/ic_person_outline_black_18dp.png') }}">1
    </button>
    <button class="btn mx-0 px-1">|</button>
    <button class="btn px-0">
    <img class="channel-icon" src="{{ url_for('static',filename='images/icons/iconmonstr-pin-23-240.png') }}">0
    </button>

</div>