<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>CLACK - WOW!!!!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>
<body>
{% block header_bar %}{% endblock %}

<div class="main-contents-frame">
    <div class="container-fluid">
        {% block side_bar %}{% endblock %}
        {% block main_contents %}{% endblock %}
    </div>
</div>
{% block footer_bar %}{% endblock %}

</body>
</html>