<nav class="navbar navbar-dark fixed-top bg-dark">
    <div class="py-2 px-3 userinfo">
                    <div>
                        Team Name
                    </div>
                    <div>
                        (상태)ID
                    </div>
                </div>
    <div>
        <form class="form-inline">
{#  타입 3가지 - message / channel 계열 / app      #}
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Out</button>
        </form>
    </div>
</nav>