<div class="row">
    <nav class="d-md-block bg-light sidebar">

        <div class="sidebar-sticky">

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mb-1 text-muted pt-3">
                <span>Channels</span>
                <a class="d-flex align-items-center text-muted" href="#">
                            <span data-feather="plus-circle">
                                <img src="{{ url_for('static', filename='images/icons/iconmonstr-plus-circle-thin-240.png') }}"
                                     class="sidebar-icons"></span>
                </a>
            </h6>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="home"></span>
                        # general
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="shopping-cart"></span>
                        # random
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="users"></span>
                        # web
                    </a>
                </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>DirectMessages</span>
                <a class="d-flex align-items-center text-muted" href="#">
                            <span data-feather="plus-circle">
                                <img src="{{ url_for('static', filename='images/icons/iconmonstr-plus-circle-thin-240.png') }}"
                                     class="sidebar-icons">
                            </span>
                </a>
            </h6>
            <ul class="nav flex-column mb-2">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="file-text"></span>
                        <img src="{{ url_for('static', filename='images/icons/iconmonstr-circle-1-240.png') }}"
                             class="sidebar-icons">
                        Me
                    </a>
                </li>
            </ul>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Apps</span>
                <a class="d-flex align-items-center text-muted" href="#">
                            <span data-feather="plus-circle">
                                <img src="{{ url_for('static', filename='images/icons/iconmonstr-plus-circle-thin-240.png') }}"
                                     class="sidebar-icons">
                            </span>
                </a>
            </h6>
            <ul class="nav flex-column mb-2">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="file-text"></span>
                        + Install Google Drive
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="file-text"></span>
                        + Add apps
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>