<div id="top-bar" name="top_bar">
    <div class="top-bar-item-box">
        <span class="label_span"> CLACK </span>
    </div>
    <div class="top-bar-item-box_right">
        <div class="top-bar-item" name="sign_in_btn">
            <input type="button" id="btn_sign_up" value="SignUp" >
            <input type="button" id="btn_sign_in" value="SignIn">
            <input type="button" id="btn_find_pw_id" value="Find ID/PW">
        </div>
    </div>
    <div class="top-bar-item-box_right">
        <div class="top-bar-item" name="sign_in_control_id">
            <span class="label_span"> id </span>
            <input type="text" id="tb_id">
        </div>
        <div class="top-bar-item" name="sign_in_control_pw">
            <span class="label_span">pw</span>
            <input type="password" id="tb_pw">
        </div>
    </div>

</div>

